@import '../styles.scss';

.content-container {
    padding-top: 35px;
    z-index: 2;
    position: relative;
    flex: 0 1 auto;
}

.title-container-style {
    display: flex;
    color: white;
    background-color: var(--primary-color);
    justify-content: space-between;
}

.hero-title {
    color: white;
    margin-bottom: 0px;
    text-align: center;
    font-size: 3rem;

    @include breakpoint(xsmall) {
        font-size: 1.75rem;
    }
}

.subtitle-style {
    font-size: 2rem;
    line-height: 60px;
    letter-spacing: 0.05em;
    color: white;
    font-family: Montserrat;
    font-weight: 100;
    text-align: center;

    @include breakpoint(xsmall) {
        font-size: 1.5rem;
    }
}

.heroHolder {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}