@import '../styles.scss';

.content-container {
    padding-top: 35px;
    z-index: 2;
    position: relative;
    flex: 0 1 auto;
}

.title-container-style {
    display: flex;
    color: white;
    background-color: var(--primary-color);
    justify-content: space-between;
}

.hero-title {
    color: white;
}

.subtitle-style {
    font-size: 2rem;
    line-height: 60px;
    letter-spacing: 0.05em;
    color: white;
    font-family: Montserrat;
    font-weight: 100;
}

.heroHolder {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media only screen and (max-width: 1600px) {
    .content-container {
        margin-bottom: 0px;
    }

    .title-container-style {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .subtitle-style {
        margin-top: 30px;
        text-align: center;
        max-width: 100%;
    }

    .hero-title {
        text-align: center;
        max-width: 100%;
    }
}