@import "../styles.scss";

.main-container {
  background-color: #fff;
  border-radius: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  @include breakpoint(small) {
    margin-bottom: 0px;
  }
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
}

h2::after {
  background-color: #dddddd;
  background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
  display: block;
  content: "";
  width: 3.25em;
  height: 2px;
  margin: 0.7em 0 1em 0;
  border-radius: 2px;
}

.main-container > section:first-child {
  padding: 5em 3em 3em 3em;

  @include breakpoint(small) {
    padding: 1em;
  }
}

.main-container > section {
  border-bottom: solid 1px #dddddd;
  padding: 3em 3em 3em 3em;

  @include breakpoint(small) {
    padding: 1em;
    text-align: center;
  }
}

.main-container > section:last-child {
  border-bottom: solid 0px #dddddd;
}

.main-container > * > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact-me {
  text-align: center;
}

.contact-me-list > li {
  margin-bottom: 0.25rem;
}

.social-link-list {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.social-link {
  background: linear-gradient(45deg, #8d4d93cb, #5e4d93cb);
  border-bottom: none;
  position: relative;
  display: inline-block;
  border-radius: 100%;
  color: white;
  cursor: pointer;
  transition: 0.25s;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.social-link:last-child {
  margin-right: 0;
}

.social-link:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.25s;
}
