$primary-color2: #16b7d0;
$accent-color2: #22182f;
$og-color: #16b7d0;

$primary-color: #1d69b5;
//$primary-color: #0057ade0;
//$primary-color: #0057AD;
$accent-color: #59b800;

// .buttonStyle {
//     width: 165px;
//     height: 55px;
//     background-color: $accent-color;
//     border-radius: 10px;
//     color: white;
//     font-weight: bold;
//     font-size: 20px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin-top: 25px;
// }

.center {
  display: flex;
  justify-content: center;
}

.section-title {
  font-size: 62px;
}

.subtext {
  font-size: 24px;
  margin-top: 40px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-align: center;
}

.emphasis-word {
  color: $primary-color;
  font-weight: bold;
}

html {
  background-color: #efefef;
  font-family: Montserrat;
}

.content-container {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1300px;
  margin: auto;
}

.margin-centered {
  margin: auto;
}

.content-bounds {
  padding-left: 50px;
  padding-right: 50px;
  max-width: 1300px;
}

@mixin color-typography($p: null) {
  @if $p != null {
    background-color: _palette($p, bg);
    color: _palette($p, fg);
  }

  input,
  select,
  textarea {
    color: _palette($p, fg-bold);
  }

  a {
    &:hover {
      color: _palette($p, fg-bold);
    }
  }

  strong,
  b {
    color: _palette($p, fg-bold);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: _palette($p, fg-bold);
  }

  blockquote {
    border-left-color: _palette($p, border);
  }

  code {
    background: _palette($p, border-bg);
    border-color: _palette($p, border);
  }

  hr {
    border-bottom-color: _palette($p, border);
  }
}

@include color-typography;

@import "../scss/util/vars";
@import "../scss/util/functions";
@import "../scss/util/mixins";
@import "../scss/util/skel";

@mixin color($p) {
  @include color-typography($p);
  @include color-box($p);
  @include color-button($p);
  @include color-form($p);
  @include color-icon($p);
  @include color-list($p);
  @include color-section($p);
  @include color-table($p);
  @include color-spotlight($p);
}

@import "../scss/components/nav.scss";
