@mixin color-typography($p: null) {
  @if $p != null {
    background-color: _palette($p, bg);
    color: _palette($p, fg);
  }

  input,
  select,
  textarea {
    color: _palette($p, fg-bold);
  }

  a {
    &:hover {
      color: _palette($p, fg-bold);
    }
  }

  strong,
  b {
    color: _palette($p, fg-bold);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: _palette($p, fg-bold);
  }

  blockquote {
    border-left-color: _palette($p, border);
  }

  code {
    background: _palette($p, border-bg);
    border-color: _palette($p, border);
  }

  hr {
    border-bottom-color: _palette($p, border);
  }
}

@include color-typography;

@import "../scss/util/vars";
@import "../scss/util/functions";
@import "../scss/util/mixins";
@import "../scss/util/skel";

@include skel-breakpoints(
  (
    xlarge: "(max-width: 1680px)",
    large: "(max-width: 1280px)",
    medium: "(max-width: 980px)",
    small: "(max-width: 768px)",
    xsmall: "(max-width: 480px)",
    xxsmall: "(max-width: 360px)",
  )
);

@mixin color($p) {
  @include color-typography($p);
  @include color-box($p);
  @include color-button($p);
  @include color-form($p);
  @include color-icon($p);
  @include color-list($p);
  @include color-section($p);
  @include color-table($p);
  @include color-spotlight($p);
}

@import "../scss/components/nav";

#mainpage {
  width: 75em;
  max-width: calc(100% - 4em);
  margin: 0 auto;

  @include breakpoint("small") {
    max-width: 95%;
  }
}

html {
  font: 112.5%/1.45em georgia, serif, sans-serif;

  @include breakpoint("xlarge") {
    font: 107%/1.25em georgia, serif, sans-serif;
  }

  @include breakpoint("large") {
    font: 100%/1.45em georgia, serif, sans-serif;
  }
}
